* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img  {
    display: block;
    width: 100%;
}

.container {
    position: relative;
    max-width: 960px;
    margin: auto;
}

header {
    padding: 20px 0;
    background-color: #af2024;
}

section {
    position: relative;
    background: url("../img/bg.jpg") center  center/cover no-repeat;
    background-size: 100%;
    padding-top: 19px;
    padding-bottom: 100px;
}


section span {
    display: block;
    max-width: 352px;
    margin-bottom: 21px;
}

.item {
    max-width: 710px;
    margin-left: 135px;
    background-color: #fff;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 20px;
    color: #fff;
    background-color: #98161b;
    padding: 28px 18px;
    line-height: 20px;
}

.player {
    padding: 63px 69px 63px 74px;
    background-color: #fff;
    color: #98161b;
    font-family: 'Arvo', serif;
}