* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img  {
    display: block;
    width: 100%;
}

body {
    background-color: #3f0002;
}

.container {
    position: relative;
    max-width: 960px;
    top: 20px;
    margin: auto;
    z-index: 1;
}

.bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    padding: 20px 0;
    background-color: #af2024;
}

section {
    position: relative;
    min-height: 1000px;
}


section .logo {
    display: inline-block;
    max-width: 352px;
    margin-bottom: 21px;
}

.item {
    max-width: 710px;
    margin-left: 135px;
    background-color: #fff;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 20px;
    color: #fff;
    background-color: #98161b;
    padding: 28px 18px;
    line-height: 20px;
}

.player {
    padding: 63px 69px 125px 74px;
    background-color: #fff;
    color: #98161b;
    font-family: 'Arvo', serif;
}

.video {
    position: relative;
    height: 346px;
    background-color: #e7e7e7;
    width: 100%;
    margin-bottom: 30px;
}
.video button {
   position: absolute;
    font-size: 55px;
    cursor: pointer;
    border: none;
    background: none;
    color: #98161b;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: .3s;
}

.video button:hover {
    color: #d92128;
}

.item span:first-of-type, .item span:last-of-type{
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 13px;
}

.item span:last-of-type {
    color: #7d7d7d;
}

.item span:last-of-type:after {
    content: ".........";
    display: block;
    color: #98161b;
    padding-top: 10px;
    margin-bottom: 18px;
    line-height: 0;
}

.item p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 50px;
    width: 95%;
}

.socials {
    position: fixed;
    right: 0;
    top: 260px;
    text-align: center;
    z-index: 1;
}

.socials a {
    left: 0;
    display: block;
    height: 50px;
    width: 50px;
    background-color: #850409;
    text-decoration: none;
    transition: .2s ;
}

.socials a:last-of-type {
    background-color: #98161b;
}

.socials a i {
    font-size: 33px;
    color: #fff;
    line-height: 50px;
}

.socials a:hover {
    transform: translateX(-30%);
    background-color: #d92128;
}

footer {
    position: relative;
    height: 453px;
    background-color: #000;
    z-index: 0;
}
