* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img  {
    display: block;
    width: 100%;
}

.container {
    position: relative;
    max-width: 960px;
    margin: auto;
}

header {
    padding: 20px 0;
    background-color: #af2024;
}

section {
    position: relative;
    background: url("../img/bg.jpg") center  center/cover no-repeat;
    background-size: 100%;
    padding-top: 19px;
    padding-bottom: 100px;
}


section .logo {
    display: inline-block;
    max-width: 352px;
    margin-bottom: 21px;
}

.item {
    max-width: 710px;
    margin-left: 135px;
    background-color: #fff;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 20px;
    color: #fff;
    background-color: #98161b;
    padding: 28px 18px;
    line-height: 20px;
}

.player {
    padding: 63px 69px 125px 74px;
    background-color: #fff;
    color: #98161b;
    font-family: 'Arvo', serif;
}

.video {
    position: relative;
    height: 346px;
    background-color: #e7e7e7;
    width: 100%;
    margin-bottom: 30px;
}
.video button {
   position: absolute;
    font-size: 55px;
    cursor: pointer;
    border: none;
    background: none;
    color: #98161b;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: .3s;
}

.video button:hover {
    color: #d92128;
}

.item span:first-of-type, .item span:last-of-type{
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 13px;
}

.item span:last-of-type {
    color: #7d7d7d;
}

.item span:last-of-type:after {
    content: ".........";
    display: block;
    color: #98161b;
    padding-top: 10px;
    margin-bottom: 18px;
    line-height: 0;
}

.item p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    width: 95%;
}

